@model IEnumerable<VideoLib.WebUI.Models.Navbar.SideNavbarItem>

<div class="row">
     <ul class="nav-pills nav-stacked admin-menu" style="padding-left: 0px; padding-top:20px;">
        @foreach (var item in Model)
        {
            <li class="list-group-item @item.itemClass" >
                <a href="@Url.Action(item.action, item.controller)"><i class="@item.imageClass"></i>  @item.nameOption</a>
            </li>
        }
    </ul>
</div>

      